# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        go: [ '1.7', '1.8', '1.9', '1.10', '1.11', '1.12', '1.13', '1.14', '1.15', '1.16', '1.17', '1.18' ]
    name: Go ${{ matrix.go }}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go }}
    - run: go mod init github.com/gaoxiaosong/errors
    - run: go test -v -coverprofile=coverage.txt ./...
    - uses: codecov/codecov-action@v3.1.1
      if: matrix.go == '1.7'
      with:
        file: ./coverage.txt
